<h1>newpatient!!!!</h1>

<% if @patient.errors.any? %>
<% @patient.errors.full_messages.each do |
  message| %>
  <p><%= message %></p>
  <br>


  <% end %>

<% end %>

<%= link_to "Home", root_path %>

<%= render 'forms' %>
