
%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Apollo Medical
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "hospitals"} Hospitals/Patients
        %li
          %a{:href => "/doctors"} Doctors
        %li
          %a{:href => "/medications"} Medications
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Research
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "http://centennial.rucares.org/index.php?page=Cancer"} Cancer/Virus
            %li
              %a{:href => "http://blogs.wsj.com/venturecapital/2014/02/07/medical-device-investing-drops-though-some-vcs-welcome-weeding-out-process/"} VC Funding
            %li
              %a{:href => "http://www.tableau.com/"} Tableau 
            %li.divider
            %li.dropdown-header Resources
            %li
              %a{:href => "http://www.insidermonkey.com/"} Monkeys
            %li
              %a{:href => "http://whalewisdom.com/"} Whales
      %ul.nav.navbar-nav.navbar-right
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
        / %li
        /   %a{:href => "../navbar/"} Default
        / %li
        /   %a{:href => "../navbar-static-top/"} Static top
        %li.active
          %a{:href => "/"}
            B. Happy
            %span.sr-only (current)
    / /.nav-collapse